body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dropdown-menu {
  position: absolute;
}
.swiper-button-next::after,
.swiper-button-prev::after{
  color: #ff5a5f;
}
.swiper-slide.swiper-slide-thumb-active.swiper-slide-visible {
  img.RoomDetail_imgThumb__BYZpl{  
    opacity: 1;
  }
}
.rs-stack-item{
  text-align: center;
}